{
    "semi": true,
    "singleQuote": true,
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
