.sidebar {
    background: #1c1d1f;
    border-radius: 12px;
    padding: 28px 34px 20px 34px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.sidebar__section-title {
    font-size: 13px;
    font-weight: 600;
    color: #bababa;
    margin-bottom: 6px;
}
/* Способ оплаты */
.sidebar__payment {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 60%;
    border: 2px solid #ffffff1a;
    border-radius: 6px;
    background: #cccdd01f;
    backdrop-filter: blur(4px);
}

.sidebar__section-title-methods {
    font-size: 13px;
    font-weight: 600;
    color: #bababa;
    margin-bottom: 10px;
}

.sidebar__payment-methods {
    display: flex;
}

.sidebar__payment-btn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
}
.sidebar__payment-title {
    font-size: 10px;
    font-weight: 700;
    font-display: swap;
    color: rgba(218, 217, 217, 0.814);
}

.sidebar__payment-title--active {
    color: white;
}
.sidebar__payment-btn:hover {
    border-color: #555;
}

.sidebar__payment-btn--active {
    border-color: #fff;
    background: #b0b1b375;
}

.sidebar__payment-img {
    height: 22px;
    width: auto;
    object-fit: contain;
    margin-bottom: 2px;
}

/* Итого — крупно сверху */
.sidebar__summary {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.sidebar__summary-total-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sidebar__summary-total-label {
    font-size: 22px;
    font-weight: 800;
    color: #fff;
}

.sidebar__summary-total-value {
    font-size: 22px;
    font-weight: 800;
    color: #fff;
}

.sidebar__summary-row {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #6b6b6b;
}

.sidebar__summary-row--discount {
    color: #4ade80;
}

.sidebar__summary-prices {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar__summary-old {
    font-size: 13px;
    color: #6b6b6b;
    text-decoration: line-through;
}

/* Поля */
.sidebar__fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar__fields-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar__fields-hint {
    font-size: 12px;
    color: #7c5cbf;
    text-decoration: none;
    transition: color 0.2s;
}

.sidebar__fields-hint:hover {
    color: #b084f7;
}

.sidebar__field {
    display: flex;
    flex-direction: column;
}

.sidebar__field-input {
    background: #2a2b2e;
    border: 1px solid #2c2d32;
    border-radius: 10px;
    padding: 8px 12px;
    color: #fff;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
    width: 100%;
}

.sidebar__field-input::placeholder {
    color: #555;
    font-weight: 400;
    font-size: 14px;
}

.sidebar__field-input:focus {
    border-color: #555;
}

.sidebar__field-input--success {
    border-color: #4ade80 !important;
}

.sidebar__field-input--error {
    border-color: #f87171 !important;
}
.sidebar__summary-row--commission {
    color: #aaa;
}
/* Промокод */
.sidebar__promo {
    display: flex;
    flex-direction: column;
}

.sidebar__promo-wrap {
    display: flex;
    gap: 8px;
}

.sidebar__promo-input-wrap {
    position: relative;
    flex: 1;
}

.sidebar__promo-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    pointer-events: none;
}

.sidebar__field-input--promo {
    padding-left: 36px;
}

.sidebar__promo-btn {
    padding: 0px 16px;
    border-radius: 10px;
    border: 1px solid #2c2d32;
    background: #2a2b2e;
    color: #bababa;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s;
    flex-shrink: 0;
}

.sidebar__promo-btn:hover:not(:disabled) {
    border-color: #555;
    color: #fff;
}

.sidebar__promo-btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.sidebar__promo-success {
    font-size: 12px;
    color: #4ade80;
    margin-top: 6px;
}

.sidebar__promo-error {
    font-size: 12px;
    color: #f87171;
    margin-top: 6px;
}

/* Кнопка */
.sidebar__btn {
    width: 100%;
    padding: 16px;
    border-radius: 99px;
    border: none;
    background: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: opacity 0.2s;
}

.sidebar__btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.sidebar__btn:not(:disabled):hover {
    opacity: 0.85;
}

.sidebar__hint {
    text-align: center;
    font-size: 13px;
    color: #f87171;
}

.sidebar__terms {
    text-align: center;
    font-size: 11px;
    color: #444;
    line-height: 1.5;
}
.sidebar__confirm {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar__confirm-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.sidebar__confirm-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    min-width: 16px;
    border-radius: 2px;
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    cursor: pointer;
    margin-top: 1px;
    transition:
        background 0.15s,
        border-color 0.15s;
    position: relative;
}

.sidebar__confirm-checkbox:checked {
    background: #2d362fc6;
    border-color: #196105d1;
}

.sidebar__confirm-checkbox:checked::after {
    content: '';
    position: absolute;
    left: 4.37px;
    top: 1.2px;
    width: 6px;
    height: 10px;
    border: 2px solid #4ade80;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
}

.sidebar__confirm-label {
    font-size: 12px;
    line-height: 1.5;
    user-select: none;
    font-weight: 500;
    transition: color 0.2s;
}

/* Чекбокс не отмечен — текст красный */
.sidebar__confirm-label--unchecked {
    color: #f87171;
}

/* Чекбокс отмечен — текст белый */
.sidebar__confirm-label--checked {
    color: #4ade80;
}

.sidebar__confirm-label b {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
}

.sidebar__confirm-value {
    color: #fff;
    font-weight: 600;
}
